[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/GSL"]
	path = deps/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "deps/sol2"]
	path = deps/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/honeytreelabs/yaml-cpp.git
[submodule "deps/doctest"]
	path = deps/doctest
	url = https://github.com/doctest/doctest.git
[submodule "deps/cmake-modules"]
	path = deps/cmake-modules
	url = https://github.com/bilke/cmake-modules.git
[submodule "deps/HFSM2"]
	path = deps/HFSM2
	url = https://github.com/andrew-gresyk/HFSM2
